<html>
<head>
	<meta charset="UTF-8"/>
	<title>Các đề xuất công tác</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body  class="container well" style="margin-bottom: 50px">
	<header class="page-header">
		<p><h2>Các đề xuất công tác</h2></p>
	</header>
	
	<main>	
		<table class=" table table-stripped table-hover table-responsive table-bordered">
			<thead>
				<th>STT</th>
				<th>Đề xuất</th>
				<th>Thời gian</th>
				<th>Trạng thái</th>		
			</thead>
			<tbody>	
				<tr>	
					<td>1</td>
					<td><a href="#">Kí hợp đồng với công ty HIJ</a></td>
					<td>26-10-2017</td>
					<td>Chưa duyệt</td>
				</tr>
				<tr>	
					<td>2</td>
					<td><a href="#">Kí hợp đồng với công ty DEF</a></td>
					<td>25-10-2017</td>
					<td>Đã duyệt - Chưa tạm ứng</td>
				</tr>
				<tr>	
					<td>3</td>
					<td><a href="#">Kí hợp đồng với công ty GHJ</a></td>
					<td>24-10-2017</td>
					<td>Đã tạm ứng</td>
				</tr>
				<tr>	
					<td>4</td>
					<td><a href="#">Kí hợp đồng với công ty DDD</a></td>
					<td>20-10-2017</td>
					<td>Đã thanh toán</td>
				</tr>
			</tbody>
		</table>
	</main>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>