<html>
<head>
	<meta charset="UTF-8"/>
	<title>Đề xuất chi phí</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body  class="" style="margin-bottom: 50px">
	<div class=" container well">	
		<header class="page-header">
			<p><h2>Đề xuất chi phí trong quá trình công tác</h2></p>
		</header>

		<main>	
			<form action="	">
				<table class=" table table-stripped table-hover table-responsive table-bordered">
					<thead>
						<th></th>
						<th>STT</th>
						<th>Chi mục</th>
						<th>Chi phí</th>
						<th>Thời gian</th>	
						<th>Ghi chú</th>		
					</thead>
					<tbody>	
						<tr>	
							<td><input type="checkbox"/></td>
							<td>1</td>
							<td><input type="text" class="form-control" placeholder="chi mục"/></td>
							<td><input type="number" class="form-control" placeholder="chi phí"/></td>
							<td><input type="date" class="form-control"/></td>
							<td><textarea class="form-control" style="resize: none;" name="" id="" cols="30" rows="3"></textarea></td>
						</tr>
					</tbody>

				</table>
				<div>
					<button class="btn btn-info">Thêm</button>
					<button class="btn btn-warning">Xóa</button>
				</div>

				<div class="col-md-3 pull-right" style="margin-top: 40px">
					<button class="btn btn-success btn-lg">Gửi đề xuất</button>
				</div>
			</form>
			
		</main>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>