<html>
<head>
	<meta charset="UTF-8">
	<title>Báo cáo chi phí công tác</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body  class="" style="margin-bottom: 50px">
	<div class=" container well">	
		<header class="page-header">
			<p><h2>Báo cáo tổng chi phí trong quá trình công tác</h2></p>
		</header>

		<main>	
			<div class="col-md-12">
				<div class="row col-md-6" style="margin-top: 40px">
					<legend><strong>Thông tin nhân viên</strong></legend>

					<div class="form-group col-md-12">
						<label for="" class="col-md-4">Mã nhân viên:</label>
						<div class="col-md-8">
							ABCDEF
						</div>
					</div>

					<div class="form-group col-md-12">
						<label for="" class="col-md-4">Họ tên:</label>
						<div class="col-md-8">
							Nguyễn Văn A
						</div>
					</div>

					<div class="form-group col-md-12">
						<label for="" class="col-md-4">Chức vụ:</label>
						<div class="col-md-8">
							Phó giám đốc
						</div>
					</div>

					<div class="form-group col-md-12">
						<label for="" class="col-md-4">Đơn vị:</label>
						<div class="col-md-8">
							Chi nhánh XYZ
						</div>
					</div>

					<div class="form-group col-md-12">
						<label for="" class="col-md-4">Số điện thoại:</label>
						<div class="col-md-8">
							0123456789
						</div>
					</div>

				</div>

				<div class="row col-md-6" style="margin-top: 40px">
					<legend><strong>Chi tiết chuyển công tác</strong></legend>
					<div class="form-group col-md-12">
						<label for="" class="col-md-4">Tên chuyển công tác:</label>
						<a href="#" title="Nhấn vào để xem chi tiết">Kí hợp đồng buôn bán với công ty HIJ</a>
					</div>

					<div class="form-group col-md-12">
						<label for="" class="col-md-4">Địa điểm:</label>
						<div class="col-md-6">
							Cầu Giấy, Hà Nội
						</div>
					</div>

					<div class="form-group col-md-12">
						<label for="" class="col-md-4">Thời gian:</label>
						<div class="col-md-4">
							23-10-2017
						</div>
					</div>

					<div class="form-group col-md-12">
						<label for="" class="col-md-4">Thời gian kết thúc:</label>
						<div class="col-md-4">
							23-10-2017
						</div>
					</div>

					<div class="form-group col-md-12">
						<label for="" class="col-md-4">Mục đích công tác:</label>
						<div class="col-md-8">
							Kí hợp đồng kinh doanh với công ty HIJ
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-12">
				<legend><strong>Các mục hóa đơn và thuế tương ứng</strong></legend>
				<form action="	">

					<table class=" table table-stripped table-hover table-responsive table-bordered">
						<thead>
							<th></th>
							<th>STT</th>
							<th>Đề xuất chi phí</th>
							<th>Số tiền</th>
							<th>Thuế</th>	
							<th>Thành tiền</th>
							<th>Ghi chú</th>		
						</thead>
						<tbody>	
							<tr>	
								<td><input type="checkbox"></td>
								<td>1</td>
								<td><a href="#">Chi phí mời khách hàng ăn trưa</a></td>
								<td>2.000.000</td>
								<td>200.000</td>
								<td>2.200.000</td>
								<td>Không</td>
							</tr>
							<tr>	
								<td><input type="checkbox"></td>
								<td>1</td>
								<td><a href="#">Chi phí di chuyển </a></td>
								<td>3.000.000</td>
								<td>150.000</td>
								<td>3.150.000</td>
								<td>Phí di chuyển cho đoàn công tác từ  thành phố A sang thành phố B</td>
							</tr>
						</tbody>

					</table>
					<div class="col-md-3 pull-right">
						<p><strong>Tổng tiền: 5.350.000</strong></p>
					</div>
					<!-- <div>
						<button class="btn btn-info">Thêm</button>
						<button class="btn btn-warning">Xóa</button>
					</div> -->

					<div class="col-md-9 col-md-offset-3" style="margin-top: 40px">
						<div class="col-md-5">
							<button class="btn btn-success btn-lg">Xác nhận</button>
						</div>
						<button class="btn btn-danger btn-lg">Hủy bỏ</button>
					</div>
				</form>
			</div>


		</main>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>