<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" 
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8"/>
<title>Home</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="theme-color" content="#317EFB"/>
</head>
<body>
	<div th:replace="layout :: header"></div>
<main class="container" style="margin-top:100px" sec:authorize="!isAnonymous()">
			
	<div class="row">
		<div class="col-md-3 col-md-offset">
			<a th:href="@{/notifications}" class="btn btn-default">
				<img th:src="@{img/notification.jpg}" alt="propose" class="img img-round img-responsice" style="max-height:150px"/>
				<p><strong>Thông báo</strong></p>
			</a>
		</div>
		
		<div class="col-md-3 col-md-offset-">
			<a th:href="@{/proposes}" class="btn btn-default">
				<img th:src="@{img/propose.jpg}" alt="propose" class="img img-round img-responsice" style="max-height:150px"/>
				<p><strong>Đề xuất công tác</strong></p>
			</a>
		</div>
		
		<div class="col-md-3 col-md-offset-">
			<a th:href="@{/business-trips}" class="btn btn-default">
				<img th:src="@{img/inprogress.jpg}" alt="propose" class="img img-round img-responsice" style="max-height:150px"/>
				<p><strong>Công tác trong quá trình</strong></p>
			</a>
		</div>
		
		<div class="col-md-3 col-md-offset-">
			<a th:href="@{/histories}" class="btn btn-default">
				<img th:src="@{img/completed.png}" alt="propose" class="img img-round img-responsice" style="max-height:150px"/>
				<p><strong>Lịch sử</strong></p>
			</a>
		</div>
	</div>
	
</main>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>