<html>
<head>
	<meta charset="UTF-8"/>
	<title>Đề xuất thay đổi nhân sự</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body  class="" style="margin-bottom: 50px">
	<div class=" container well">	
		<header class="page-header">
			<p><h2>Đề xuất thay đổi nhân sự trong quá trình công tác</h2></p>
		</header>

		<main>	


			<div class="col-md-12">
				<legend><strong>Các đề xuất thay đổi nhân sự</strong></legend>
				<table class=" table table-stripped table-hover table-responsive table-bordered">
					<thead>
						<th>STT</th>
						<th>Mã nhân viên</th>
						<th>Tên nhân viên</th>
						<th>Chức vụ</th>
						<th>Đơn vị</th>
						<th>Sự thay đổi</th>	
						<th>Thời gian</th>
						<th>Lí do</th>		
					</thead>
					<tbody>	
						<tr>	
							<td>1</td>
							<td><input type="text" class="form-control" placeholder="Mã nhân viên"/></td>
							<td><input type="text" class="form-control" placeholder="Họ tên"/></td>
							<td><input type="text" class="form-control" placeholder="Chức vụ"/></td>
							<td><input type="text" class="form-control" placeholder="Đơn vị"/></td>
							<td><input type="text" class="form-control" placeholder="Nghỉ/Bỏ việc"/></td>
							<td><input type="date" class="form-control" placeholder=""/></td>
							<td><textarea class="form-control" style="resize: none;" name="" id="" cols="30" rows="3"></textarea></td>
							
						</tr>
					</tbody>

				</table>
				<div>
					<button class="btn btn-info">Thêm</button>
					<button class="btn btn-warning">Xóa</button>
				</div>

			</div>

			<div class="col-md-3 pull-right" style="margin-top: 40px">
				<!-- <div class="col-md-5"> -->
					<button class="btn btn-success btn-lg">Gửi đề xuất</button>
					<!-- </div> -->
					<!-- <button class="btn btn-danger btn-lg">Từ chối</button> -->
				</div>
			</main>
		</div>

		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
	</html>