<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title th:text="${title}"></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="theme-color" content="#317EFB"/>
	<base th:href="${basePath}"/>
</head>
<body>
	<div th:replace="layout :: header"></div>
	
	<div class="container" style="background-color: #f9f9f9; box-shadow:0px 0px 10px #dadada; margin-bottom:1%">
		<div style="min-height: 100%">
			<header class="page-header">
				<h2 th:text="${title}"></h2>
			</header>
			
			<main th:if="${plans.size > 0}">	
			
	
				<div class="row" style="margin:1%" th:unless="${removeCreate}">
					<div class="col-md-3 pull-right">
						<a th:href="@{${basePath} + '/add'}" class="btn btn-lg btn-info">
							<span class="glyphicon glyphicon-plus"></span>
							Tạo đề xuất
						</a>
					</div>
				</div>
				
	
	<!-- Proposes Table -->
	
				<table class=" table table-stripped table-hover table-responsive table-bordered">
					<thead>
						<th>STT</th>
						<th>Chuyến công tác</th>
						<th>Ngày bắt đầu</th>
						<th>Ngày kết thúc</th>
						<th>Trạng thái</th>		
					</thead>
					<tbody>	
						<tr th:each="plan, no : ${plans.content}">	
							<td th:text="${no.count + (page -1) * size}"></td>
							<td><a th:href="${basePath} + '/' + ${plan.id}" th:text="${plan.name}"></a></td>
							<td th:text="${plan.startDate}"></td>
							<td th:text="${plan.finishDate}"></td>
							<td th:text="${plan.status}"></td>
						</tr>
					</tbody>
				</table>
				
				<div class="col-md-5 pull-right">
					<a th:if="${page gt 1}" th:href="@{'?page='} + ${page - 1}" th:utext="${(page - 1)}"></a>
					<span>________</span>
					<a th:if="${page lt plans.totalPages}" th:href="@{${basePath} + '?page='} + ${page + 1}" th:text="${page + 1}"></a>
				</div>
			</main>
			
			
			<main th:if="${plans.size == 0}" class="text-center">	
				<p><h3>Không có đề xuất nào</h3></p>
			</main>
			<!-- 		End Proposes Table -->
		</div>
	</div>
	
	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>